---
layout: base.njk
permalink: "/thankyou/"
---
<section class="thankyou" id="thankyou">
  <div class="container">
    <div class="section-title flex-column flex-center">
        <h2>Sent!</h2>
        <p>Thank you for getting in touch, I will respond as soon as possible.</p>
        <p>In the meantime, take a look at some of my <a href="/work">previous work</a>.</p>
    </div>  
  </div>
</section>